/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/07/2018, 03:10:04 PM
    Author     : Ana Sofia
*/

body {
    background-image:  url("../images/hope.jpg"), url("../images/esperanza.jpg") ;
    background-repeat: no-repeat, repeat;
     background-color: #cccccc;
     
}